p {
  font-family: arial, sans-serif;
  font-size: 0.800em; /* 14px/16=0.875em */
}

h3 {
  font-family: arial, sans-serif;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
